In [3]:
import pandas as pd 
file_path = "C:/Users/Aniket/Downloads/data/uber_data.csv"
df = pd.read_csv(file_path)
print(df)

# now we have to convert/link the fact table which has quant data to dimension table 
df.info()

       VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0             1  2016-03-01 00:00:00   2016-03-01 00:07:55                1
1             1  2016-03-01 00:00:00   2016-03-01 00:11:06                1
2             2  2016-03-01 00:00:00   2016-03-01 00:31:06                2
3             2  2016-03-01 00:00:00   2016-03-01 00:00:00                3
4             2  2016-03-01 00:00:00   2016-03-01 00:00:00                5
...         ...                  ...                   ...              ...
99995         1  2016-03-01 06:17:10   2016-03-01 06:22:15                1
99996         1  2016-03-01 06:17:10   2016-03-01 06:32:41                1
99997         1  2016-03-01 06:17:10   2016-03-01 06:37:23                1
99998         2  2016-03-01 06:17:10   2016-03-01 06:22:09                1
99999         1  2016-03-01 06:17:11   2016-03-01 06:22:00                1

       trip_distance  pickup_longitude  pickup_latitude  RatecodeID  \
0               2.50        -73.976746        40.765152           1
1               2.90        -73.983482        40.767925           1
2              19.98        -73.782021        40.644810           1
3              10.78        -73.863419        40.769814           1
4              30.43        -73.971741        40.792183           3
...              ...               ...              ...         ...
99995           0.50        -73.990898        40.750519           1
99996           3.40        -74.014488        40.718296           1
99997           9.70        -73.963379        40.774097           1
99998           0.92        -73.984901        40.763111           1
99999           1.00        -73.990685        40.750473           1

      store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                      N         -74.004265         40.746128             1
1                      N         -74.005943         40.733166             1
2                      N         -73.974541         40.675770             1
3                      N         -73.969650         40.757767             1
4                      N         -74.177170         40.695053             1
...                  ...                ...               ...           ...
99995                  N         -73.998245         40.750462             2
99996                  N         -73.982361         40.752529             1
99997                  N         -73.865028         40.770512             1
99998                  N         -73.970695         40.759148             1
99999                  N         -73.980354         40.754910             2

       fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0              9.0    0.5      0.5        2.05          0.00
1             11.0    0.5      0.5        3.05          0.00
2             54.5    0.5      0.5        8.00          0.00
3             31.5    0.0      0.5        3.78          5.54
4             98.0    0.0      0.0        0.00         15.50
...            ...    ...      ...         ...           ...
99995          5.0    0.0      0.5        0.00          0.00
99996         14.0    0.0      0.5        2.00          0.00
99997         29.0    0.0      0.5        8.80          5.54
99998          5.5    0.5      0.5        1.36          0.00
99999          6.0    0.0      0.5        0.00          0.00

       improvement_surcharge  total_amount
0                        0.3         12.35
1                        0.3         15.35
2                        0.3         63.80
3                        0.3         41.62
4                        0.3        113.80
...                      ...           ...
99995                    0.3          5.80
99996                    0.3         16.80
99997                    0.3         44.14
99998                    0.3          8.16
99999                    0.3          6.80

[100000 rows x 19 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  object
 2   tpep_dropoff_datetime  100000 non-null  object
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   pickup_longitude       100000 non-null  float64
 6   pickup_latitude        100000 non-null  float64
 7   RatecodeID             100000 non-null  int64
 8   store_and_fwd_flag     100000 non-null  object
 9   dropoff_longitude      100000 non-null  float64
 10  dropoff_latitude       100000 non-null  float64
 11  payment_type           100000 non-null  int64
 12  fare_amount            100000 non-null  float64
 13  extra                  100000 non-null  float64
 14  mta_tax                100000 non-null  float64
 15  tip_amount             100000 non-null  float64
 16  tolls_amount           100000 non-null  float64
 17  improvement_surcharge  100000 non-null  float64
 18  total_amount           100000 non-null  float64
dtypes: float64(12), int64(4), object(3)
memory usage: 14.5+ MB

In [5]:
df['tpep_pickup_datetime']= pd.to_datetime(df['tpep_pickup_datetime'])

In [10]:
df['tpep_dropoff_datetime']= pd.to_datetime(df['tpep_dropoff_datetime'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   pickup_longitude       100000 non-null  float64
 6   pickup_latitude        100000 non-null  float64
 7   RatecodeID             100000 non-null  int64
 8   store_and_fwd_flag     100000 non-null  object
 9   dropoff_longitude      100000 non-null  float64
 10  dropoff_latitude       100000 non-null  float64
 11  payment_type           100000 non-null  int64
 12  fare_amount            100000 non-null  float64
 13  extra                  100000 non-null  float64
 14  mta_tax                100000 non-null  float64
 15  tip_amount             100000 non-null  float64
 16  tolls_amount           100000 non-null  float64
 17  improvement_surcharge  100000 non-null  float64
 18  total_amount           100000 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 14.5+ MB

In [23]:
df.drop_duplicates().reset_index(drop=True)
print(df)

       VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0             1  2016-03-01 00:00:00   2016-03-01 00:07:55                1
1             1  2016-03-01 00:00:00   2016-03-01 00:11:06                1
2             2  2016-03-01 00:00:00   2016-03-01 00:31:06                2
3             2  2016-03-01 00:00:00   2016-03-01 00:00:00                3
4             2  2016-03-01 00:00:00   2016-03-01 00:00:00                5
...         ...                  ...                   ...              ...
99995         1  2016-03-01 06:17:10   2016-03-01 06:22:15                1
99996         1  2016-03-01 06:17:10   2016-03-01 06:32:41                1
99997         1  2016-03-01 06:17:10   2016-03-01 06:37:23                1
99998         2  2016-03-01 06:17:10   2016-03-01 06:22:09                1
99999         1  2016-03-01 06:17:11   2016-03-01 06:22:00                1

       trip_distance  pickup_longitude  pickup_latitude  RatecodeID  \
0               2.50        -73.976746        40.765152           1
1               2.90        -73.983482        40.767925           1
2              19.98        -73.782021        40.644810           1
3              10.78        -73.863419        40.769814           1
4              30.43        -73.971741        40.792183           3
...              ...               ...              ...         ...
99995           0.50        -73.990898        40.750519           1
99996           3.40        -74.014488        40.718296           1
99997           9.70        -73.963379        40.774097           1
99998           0.92        -73.984901        40.763111           1
99999           1.00        -73.990685        40.750473           1

      store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                      N         -74.004265         40.746128             1
1                      N         -74.005943         40.733166             1
2                      N         -73.974541         40.675770             1
3                      N         -73.969650         40.757767             1
4                      N         -74.177170         40.695053             1
...                  ...                ...               ...           ...
99995                  N         -73.998245         40.750462             2
99996                  N         -73.982361         40.752529             1
99997                  N         -73.865028         40.770512             1
99998                  N         -73.970695         40.759148             1
99999                  N         -73.980354         40.754910             2

       fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0              9.0    0.5      0.5        2.05          0.00
1             11.0    0.5      0.5        3.05          0.00
2             54.5    0.5      0.5        8.00          0.00
3             31.5    0.0      0.5        3.78          5.54
4             98.0    0.0      0.0        0.00         15.50
...            ...    ...      ...         ...           ...
99995          5.0    0.0      0.5        0.00          0.00
99996         14.0    0.0      0.5        2.00          0.00
99997         29.0    0.0      0.5        8.80          5.54
99998          5.5    0.5      0.5        1.36          0.00
99999          6.0    0.0      0.5        0.00          0.00

       improvement_surcharge  total_amount
0                        0.3         12.35
1                        0.3         15.35
2                        0.3         63.80
3                        0.3         41.62
4                        0.3        113.80
...                      ...           ...
99995                    0.3          5.80
99996                    0.3         16.80
99997                    0.3         44.14
99998                    0.3          8.16
99999                    0.3          6.80

[100000 rows x 19 columns]